.carousel-img{
    height: 500px;
    width: 100vw;
    justify-content: center;
}

#titulo-areas{
    font-size: 40px;
}

#descripcion-areas{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container-areas{
    display: flex;
    flex-direction: row;
}

.imagenes-areas{
    height: 200px;
    width: 200px;
    border: 5px solid #575556;
    border-radius: 80px;
    padding: 20px;
}

.imagenes-areas:hover{ 
    transition: 0.5s;
    border: 5px solid #c7d304;
    cursor: pointer;
}

.textos{
    color: #575556;
    font-weight: 350;
}

.contenedor{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.descripcion-areas{
    font-size: 25px;
    margin-top: 20px;
    border-bottom: 3px solid #c7d304;
}

#estudio-juridico{
    margin-right: 40px;
}

#inmobiliaria{
    margin-left: 40px;
}

@media screen and (max-width: 600px) {
    .carousel-img{
        height: 300px;
    }

    #container-areas{
        flex-direction: column;
        justify-content: center;
    }

    #inmobiliaria{
        margin-left: 0px !important;
    }

    #estudio-juridico{
        margin-right: 0px;
    }

    #titulo-areas{
        font-size: 35px;
    }
}