body, html{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    margin: auto;
    font-family: 'Source Sans Pro', sans-serif !important;
}

#nav{
    background-color: white !important;
    border-bottom: 2px solid #c7d304;
    color: #575556;
    font-size: 20px;
}

#navCollapse{
    background-color: white !important;
}

#logo{
    width: 155px;
    height: 50px;
    cursor: pointer;
}

.nav-element{
    cursor: pointer;
}

.nav-element:hover{
    transition: 0.5s;
    color: #c7d304 !important;
}

